// Grid settings
// -------------------------

$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;

// Brand colors
// -------------------------

$brand-primary:         #4099ff;
$brand-primary-hover:   #337acc;


// Glyphicons path
// -------------------------

// $icon-font-path:        "../vendor/bootstrap-sass-official/assets/fonts/";

$white-text:         #fff;

$text-shadow:        1px 1px 1px rgba(0, 0, 0, 0.2);