.home .navbar { 
	position:absolute;
    width:100%;
    border:none;
}
.home .navbar-nav > li > a, .home a.navbar-brand, .home nav .fa {
	color: $white-text;
    text-shadow: $text-shadow;
}
.home .navbar-nav a:hover, 
.home .navbar-nav a:focus,
.home a.navbar-brand:hover,
.home a.navbar-brand:focus,
.home nav span a:hover,
.home nav span a:focus {
    color:#ccc
}
.home .navbar-toggle {
    color: $white-text;
}
.home h1 {
    text-transform: uppercase
}