.navbar-toggle {
    float:left;
    padding: 5px;
    margin: 8px 0 10px 10px;
    color: $brand-primary
}
.navbar-nav > li > a, a.navbar-brand {
	color: $brand-primary
}

a.navbar-brand:hover,
a.navbar-brand:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus, 
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: transparent;
    color:#666
}